/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Palatino;
    color: black;
    background color: lightyellow;
}

h1 {
    font-size: Helvetica;
    color: yellow;
}

h2 {
    font-size: 18;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1000px;
}

header, footer, footer a {
    text-align: center;
    background-color:blue;
    color: yellow;
}

header img {
    width: 500;
    height: auto;
    float: right;
}

footer {
    font-size: 14;
}